{% extends 'base.html.twig' %}

{% block title %} Calc ! {% endblock %}

{% block body %}

    
    <div class="display-4 mb-4">Calc Page</div>
    <h1>
        {{x}} * {{y}} = {{res}}    
    </h1>
    
{% endblock %}